<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>JOBPORTAL | HOME</title>
        <!-- css stylesheet -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!-- bootstrap navbar -->
        <nav class="navbar sticky-top navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <div class="row donate-sponsor">
                    <a type="button" class="btn btn-success mr-1" id="donate" href="/logout">LOGOUT</a>
                    <a type="button" class="btn btn-warning mr-1" id="sponsor" href="register">REGISTER</a>
                    <a type="button" class="btn btn-primary mr-1" id="sponsor" href="display">MY JOBS</a>
                </div>
            </div>
        </nav>
        <!-- navbar ends -->

        <section class="our-focus">
            <div class="container">
                <h2 class="text-center mt-3">Available Jobs</h2>
                <div class="row ml-3 mt-3">
                    <div class="col-lg-3 mr-5" id="focus-first">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title">Job 1</h5>
                                <p class="card-text">Skills for Job 1</p>
                                <a href="apply" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mr-5" id="focus-second">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title">Job 2</h5>
                                <p class="card-text">Skills for Job 2</p>
                                <a href="apply" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 ml-5" id="focus-third">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title">Job 3</h5>
                                <p class="card-text">Skills for Job 3</p>
                                <a href="apply" class="btn btn-primary">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>